@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&display=swap');


body{
    font-family: "Space Mono", monospace;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header{
    display: flex;
    flex-direction: column;
    color: #fff;
    background-size: cover;
    box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.312);
}

nav{
    background-color: #0e6a74;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px; 
    box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.312);
     align-items: center;
}

nav li{
    font-weight: bold;
    list-style: none;
    display: inline-block;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: #fff;
}

header section{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}

header section h1{
    font-family: "Special Elite", system-ui;
    font-size: 70px;
}

header section p{
    margin-top: -20px;
    color: #b6ebc3;
}

header section button{
    background-color: transparent;
    padding: 10px 25px;
    border: solid #b6ebc3 1px;
    color: #b6ebc3;
    border-radius: 5px;
}

header section button:hover{
    box-shadow: rgba(0, 0, 0, 0.437) 2px 2px 5px 2px;
}




/* main */




main {
    flex: 1;
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    width: 300px;
    text-align: center;

}

.login-container h1 {
    margin-bottom: 20px;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1f6f73;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #15575a;
}

main a {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #1f6f73;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}




/* footer */



footer{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 20px;
    background-color: #0d454b;

}

footer p{
    font-size: 0.8em;
    text-align: center;
}

footer a{
    color: #fff;
}