@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&display=swap');



body{
    font-family: "Space Mono", monospace;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


header{
    display: flex;
    flex-direction: column;
    color: #fff;
    background-size: cover;
    box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.312);
}

nav{
    background-color: #0e6a74;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.312);
}

nav li{
    font-weight: bold;
    list-style: none;
    display: inline-block;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: #fff;
}

header section{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}

header section h1{
    font-family: "Special Elite", system-ui;
    font-size: 70px;
}

header section p{
    margin-top: -20px;
    color: #b6ebc3;
}

header section button{
    background-color: transparent;
    padding: 10px 25px;
    border: solid #b6ebc3 1px;
    color: #b6ebc3;
    border-radius: 5px;
}

header section button:hover{
    box-shadow: rgba(0, 0, 0, 0.437) 2px 2px 5px 2px;
}




/* main */

.container{
    width: 70vw;
    margin: auto;
}


.background_div{
    padding: 20px 0px;
    background-color: #0e6a74;
     box-shadow: 0px 2px 6px 5px rgba(46, 45, 45, 0.312);
    color: #fff;
}


.project_section{
    margin-top: 50px;
    display: flex;
    gap: 40px;

}

.project_section img{
    border-radius: 20px;
}

.project_section p{
    text-align: justify;
}

.tabela-resultados {
  margin: 40px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

thead {
  background-color: #2e7d32;
  color: white;
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr:hover {
  background-color: #e0f2f1;
}

.descricao-tabela {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}



/* footer */



footer{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 20px;
    background-color: #0d454b;

}

footer p{
    font-size: 0.8em;
    text-align: center;
}

footer a{
    color: #fff;
}