
body{
    font-family: "Space Mono", monospace;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    flex-direction: column;
    color: #fff;
    background-size: cover;
    box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.312);
}

nav{
    background-color: #0e6a74;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.312);
}

nav li{
    font-weight: bold;
    list-style: none;
    display: inline-block;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: #fff;
}

header section{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}

header section h1{
    font-family: "Special Elite", system-ui;
    font-size: 70px;
}

header section p{
    margin-top: -20px;
    color: #b6ebc3;
}

header section button{
    background-color: transparent;
    padding: 10px 25px;
    border: solid #b6ebc3 1px;
    color: #b6ebc3;
    border-radius: 5px;
}

header section button:hover{
    box-shadow: rgba(0, 0, 0, 0.437) 2px 2px 5px 2px;
}



/* main */




main{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
section{
    justify-content: center;
    flex: auto;
    flex-direction: column;
    width: 400px;
}

section input{
    box-shadow: 1px 1px 3px 0px rgba(59, 59, 59, 0.541);
    border: 0px solid black;
    padding: 5px;
    border-radius: 5px;
    flex: auto;
    margin-left: 10px;
}
select{
    box-shadow: 1px 1px 3px 0px rgba(59, 59, 59, 0.541);
    border: 0px solid black;
    padding: 5px;
    border-radius: 5px;
    flex: auto;
    margin-left: 10px;

}
section input[type="radio"]{
    flex: none;
    box-shadow: none;
}
#section2{
    background-image: linear-gradient( 150deg, rgb(86, 175, 86), rgb(40, 112, 40));
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px black;
}
#section2 p{
    font-weight: bold;
    display: flex;
    max-width: 80%;

}

#section1{
    font-weight: bold;
    text-align: center;
}
a > p{
    flex-direction: row-reverse;
}